body {
    color: blue;
    text-align: center
}

h1 {
	font-size:14px;
	size:12;
	text-align: center
}


div { 
border: 1px solid #000000;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
padding: 10px;
margin: 0 auto; 

}

div.left_menu, div.main_content 
{
    float: center;
    width: 200px;
    border: 1px solid blue;
}



input.required {
    border: 1px solid red;
}

label.required {
    cursor: pointer;
}}